# LLM Providers (Add keys for whichever models you want to use)
NVIDIA_API_KEY="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"
OPENAI_API_KEY="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"
KIMI_K_API_KEY="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""
DEEPSEEK_API_KEY="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"


# Neo4j AuraDB
NEO4J_URI=neo4j+s://2016562e.databases.neo4j.io
NEO4J_USERNAME=2016562e
NEO4J_PASSWORD=KnqxcK7H94PN0HR7pGEiFadzchBUXEv2SJOF-I8Wu1o

# Optional: LangSmith Tracing for debugging the Swarm
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_PROJECT=ProjectKairos
